@header-color: #fafafa;
@border-color: rgb(220, 220, 220);
@link-color: #008cff;
@body-text-color: #364149;
@header-text-color: lighten(black, 20%);

body {
  color: @body-text-color;
  font-size: 10pt;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: @link-color;
}
    
.nav-view {
  > ul {
    display: block;
    background-color: rgb(20,20,20);
    
    list-style: none;
    font-size: 9pt;
    
    padding: 0;
    margin: 0;
    
    li {
      display: inline-block;
      padding: 1em;
      padding-bottom: 0;
      padding-right: 2em;
      text-align: center;
    }
    
    a {
      color: white;
    }
    
    li.active a:hover {
      text-decoration: inherit;
    }
    
    .active-indicator {
      display: inline-block;
      position: relative;
      bottom: -0.5em;
      width: 0px;
      height: 0px;
      border-bottom: 1em solid white;
      border-left: 1em solid transparent;
      border-right: 1em solid transparent;
      border-top: 0;
    }
    
    li.inactive .active-indicator {
      opacity: 0;
      filter: alpha(opacity=0);
    }
    
    .active-indicator-container {
      text-align: center;
    }
  }
}

table.pivot {  
  width: 100%;
  font-weight: 30;
  margin-top: 0.375em;
  
  th {
    text-align: left;
    background-color: @header-color;
    border-bottom: solid @border-color 1px;
    
    font-weight: 600;
    padding: 0.375em;
  }
  
  td {
    padding: 0.3em;
  }
  
  td.primary-column {
    background-color: darken(@header-color, 1%);
    border-right: solid @border-color 1px;
    
    color: @header-text-color;
    width: 25%;
    max-width: 20em;
  }
}


.disclosed-indicator, .undisclosed-indicator {
  display: inline-block;
}

.disclosed-indicator:before {
  content: '▾'
}

.undisclosed-indicator:before {
  content: '▸'
}

